<div class="container">
  <h2>Date Picker Library Example</h2>
  <form>
    <div>
      <div>
        <label for="datepicker" class="form-control__label"
          >Select date:
        </label>
        <em
          libModalToggle
          [modal]="datepickerModal"
          class="bi bi-calendar"
        ></em>
      </div>
      <input
        type="text"
        readonly
        id="datepicker"
        placeholder="Select date"
        [value]="datepickerControl.value | date"
      />
      <lib-modal #datepickerModal>
        <lib-calendar
          [formControl]="datepickerControl"
          id="datepicker-calendar"
        ></lib-calendar>
      </lib-modal>
    </div>

    <hr />
    <div>
      <label for="datepicker" class="form-control__label"
        >Select date using input field:
      </label>
      <input
        libModalToggle
        [modal]="datepickerModal1"
        type="text"
        readonly
        id="datepicker"
        placeholder="Select date"
        [value]="datepickerControl1.value | date"
      />
      <lib-modal #datepickerModal1>
        <lib-calendar
          [formControl]="datepickerControl1"
          id="datepicker-calendar"
        ></lib-calendar>
      </lib-modal>
    </div>
  </form>
</div>
